<div
    class="container"
    *ngIf="ratesStates$ | async as rates"
>
    <div class="header">
        <span>
            $ {{rates.usd.rateBuy}} / {{rates.usd.rateSell}}
        </span>
        <span
            class="error"
            *ngIf="getError$ | async"
        >
           Server error: {{getError$| async}}. Please try again later
        </span>
        <span>
            € {{rates.eur.rateBuy}} / {{rates.eur.rateSell}}
        </span>
    </div>
    <main>
        <div class="box">
            <h2>Currency Converter</h2>
            <div class="content">
                <form [formGroup]="currencyForm">
                    <div class="currency-box">
                        <div class="ng-autocomplete">
                            <ng-autocomplete
                                formControlName="firstCurrency"
                                [data]="data"
                                [searchKeyword]="keyword"
                                (inputChanged)="onChange()"
                                placeholder="Select currency"
                                (selected)='setCurrency($event,true)'
                                [itemTemplate]="itemTemplate"
                            >
                            </ng-autocomplete>
                            <ng-template
                                #itemTemplate
                                let-item
                            >
                                <a [innerHTML]="item.alphaCode"></a>
                            </ng-template>
                            <input
                                #firstInp
                                type="number"
                                class="currency-value"
                                placeholder="  Enter amount"
                                (input)="setCurrencyValue(firstInp.value,true)"
                                formControlName="firstCurrencyValue"
                            >
                        </div>
                    </div>
                    <br>
                    <div class="currency-box">
                        <div class="ng-autocomplete">
                            <ng-autocomplete
                                formControlName="secondCurrency"
                                [data]="data"
                                [searchKeyword]="keyword"
                                (inputChanged)="onChange()"
                                placeholder="Select currency"
                                (selected)='setCurrency($event,false)'
                                [itemTemplate]="itemTemplate"
                            >
                            </ng-autocomplete>
                            <ng-template
                                #itemTemplate
                                let-item
                            >
                                <a [innerHTML]="item.alphaCode"></a>
                            </ng-template>
                            <input
                                #secondInp
                                type="number"
                                class="currency-value"
                                placeholder="  Enter amount"
                                (input)="setCurrencyValue(secondInp.value,false)"
                                formControlName="secondCurrencyValue"
                            >
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
