@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

header {
    width: 100wv;
    height: 245px;
    padding-top: 10px;
    margin-bottom: -95px;
    background-image: url("https://cdn.wallpapersafari.com/67/76/qtpSIw.jpg");
    display: flex;
    justify-content: space-around;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #faebd7;
}

.box {
    margin: auto 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 1290px;
    height: 800px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 8px 24px #0000000d;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    margin-top: 105px 75px;
    padding: 50px;
}

h2 {
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 29px;
    color: #363636;
}

input {
    width: 592px;
    height: 40px;
    margin: 5px, 0, 5px, 0;
}

.error {
    background-color: #EAEAEA;
    color: #ff0000;
    max-height: 15px;
}

span {
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    margin: 10px;
    color: #FFFFFF;
}